extends layout

block content
  h1 Messaging app
  p Welcome to my simple messaging app
  p Send a new message here: 
    a(href="http://localhost:3000/new") Send message

  h2 Messages
  ul 
    each val in messages 
      li.message= val.text + ' ' + val.user + ' ' + val.added